.card-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  height: auto;
  margin: 1rem auto;
  align-content: center;
}

.card-form-label {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
